<!--
<nav class="nav-breadcrumb" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="/dashboard">
        <i class="fa fa-home"></i> Dashboard</a>
    </li>
    <li class="breadcrumb-item active" routerLink="/dashboard">
      <i class="fa fa-tasks"></i> Task Detail</li>
  </ol>
</nav>
-->
  <!-- <div class="task-detail">
    <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-body">
              <div class="task-header">
                <div class="row">
                  <div class="col">
                    <div class="col-md-1">
                      <button type="button" class="btn btn-dark" (click)="navtodashboard()"><i class="fa fa-chevron-left"></i></button>
                    </div>
                    <div class="col-md-1">
                      <h3>Task Detail:</h3>
                    </div>                  
                  <div class="row">
                    {{task.name}}
                  </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div> -->

  <div class="task-detail">
      <div class="row">
          <div class="col">
            <div class="card">
              <div class="card-body">
                <div class="task-header">
                  <div class="row">
                    <div class="col">
                      <div class="col-md-1">
                        <button routerLink="/dashboard"  type="button" class="btn btn-dark"><i  class="fa fa-chevron-left"></i></button>
                      </div>
                      <div class="col-md-1">
                        <h3>Task Detail:</h3>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>